@font-face {
    font-family: blairItc;
    src: url(../fonts/blair-itc-bold.otf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.backBtnContainer {
    border: 2px solid #D0D0D2;
    width: fit-content;
    border-radius: 50%;
    padding: 2px 12px 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.backBtnContainer a {
    text-decoration: none;
    color: #616161;
}

.signInUpTextContainer {
    font-family: blairItc, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-align: center;
}

.signUp,
.signIn {
    text-decoration: none;
}

.inactive {
    color: #F5F6F7;
}

.error-message {
    color: red;
    display: none;
}

#fullName,
#email,
#password,
#retype-password {
    border: none;
    outline: none;
    border-bottom: 2px solid #D0D0D2;
    width: 100%;
    padding: 0 0 3px 2px;
    color: #616161;
}

.or {
    text-align: center;
    font-size: .8rem;
}

.socialSignin,
.socialSignup {
    text-align: center;
    margin-bottom: 4vh;
}

.socialSignup a,
.socialSignin a {
    margin: 0 .6vw;
    text-decoration: none;
    color: #616161;
}

.signUpBtn,
.signInBtn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.signUpBtnLink,
.signInBtnLink {
    border: 1px solid #616161;
    border-radius: 50%;
    font-size: 3rem;
    padding: 0 18px 3px 20px;
    line-height: 1rem;
    color: #616161;
}

.termsAndPrivacyPolicy {
    font-size: .5rem;
    text-align: center;
    color: #616161;
}

.termsAndPrivacyPolicy a {
    text-decoration: none;
    color: rgb(0, 0, 193);
}